body{
	background: #FFF;
}

.content{
	width: 92px;
	height: 92px;
	margin: 100px;
	background: url("Horde.jpg") no-repeat;
	background-color: black;
	background-size: contain;
	background-position: center center;
	-moz-animation: rotation 1s infinite;
	box-shadow: 0px 5px 15px #888;
	border-radius: 50%
}

.3dShadow{
	background: url("sombra.png");
	position: absolute;
	width: 92px;
	height: 92px;
}

@-moz-keyframes rotation{
	0%{
		background-position: 60px 20px; 
	}
	100%{
		background-position: -60px 20px;
	}
}